body {
  background: gainsboro;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}


main {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1, p {
  text-align: center;
  margin: 0;
}

p {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
}

.btn {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  border: none;
}

.checkbtn {
   background-color: #007bff;
   color: #fff;
   margin: 10px 0;
   width: 100%;
}
